/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Add styles for different neon colors and neon-text effect */

body {
  overflow: auto;
}
.neon-red-text {
  color: #fff; /* White color for the text */
  text-shadow: 0 0 10px #f06, 0 0 20px #f06, 0 0 30px #f06; /* Red neon effect with multiple shadows */
}
.neon-pink-text {
  color: #fff; /* White color for the text */
  text-shadow: 0 0 10px #ff1493, 0 0 20px #ff1493, 0 0 30px #ff1493; /* Pink neon effect with multiple shadows */
}
.neon-yellow-text {
  color: #fff; /* White color for the text */
  text-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00; /* Yellow neon effect with multiple shadows */
}
.neon-purple-text {
  color: #fff; /* White color for the text */
  text-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080; /* Purple neon effect with multiple shadows */
}

.nsc-wrapper {
  z-index: 999;
  position: fixed;
  top: 0 /*var(--wp-admin--admin-bar--height)*/;
  left: 0;
  width: 100%;
  overflow: auto;
}

.nsc-body {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: space-between;
}

.nsc-main {
  order: 0;
  width: 60%;
  position: relative;
  /* min-width: 800px; */
  height: auto;
  background-image: url("https://images.pexels.com/photos/1101125/pexels-photo-1101125.jpeg");
  background-size: cover;
}

.nsc-backboard {
  display: block;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(230, 235, 240, 0.3) 50%,
    rgba(190, 204, 213, 0.3) 51%,
    rgba(241, 248, 254, 0.2)
  );
  box-shadow: rgba(205, 209, 213, 0.9) 0px 0px 2px inset,
    rgba(0, 0, 0, 0.3) 0px 15px 25px, rgba(0, 0, 0, 0.1) 0px -2px 3px,
    rgba(0, 0, 0, 0.3) 0px 5px 10px;

  /* inset: -5px -10px; */
  position: relative;
  padding: 20px;
}

.nsc-text {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  width: fit-content; /* Optional: Set the width of the container */
  margin: 0 auto;
  height: 100vh;
}

.nsc-text p {
  font-size: 5rem;
  text-align: center;
  color: aliceblue;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
}

#nsc-text::before {
  content: "Size: 21cm x 6cm";
  position: absolute;
  bottom: 0; /* Position the label at the bottom of the nsc-text div */
  left: 0; /* Position the label at the left of the nsc-text div */
  padding: 5px; /* Optional: Add padding to make the label look nicer */
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Optional: Add a semi-transparent background */
  color: white; /* Optional: Set the label text color */
  font-size: 22px; /* Optional: Set the font size of the label */
}

.nsc-price-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1rem;
  font-weight: 800;
  padding: 10px 20px;
}

.nsc-price-wrapper .total-price {
  font-size: 2rem;
}

.nsc-side {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100vh;
  background-color: antiquewhite;
  padding: 10px;
}

.nsc-side .nsc-top {
  font-size: 1rem;
  text-align: center;
}

.nsc-side .nsc-middle {
  overflow: auto;
  width: 99%;
}

.nsc-side .nsc-bottom {
  width: 100%;
  padding: 5px;
  text-align: center;
  /* padding-bottom: 20px; */
}
